{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Invitation</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="invitation">
        <div class="header">Please Join Us At Our {{event.e_name}}</div>
        <h1>{{event.g_name}}</h1>
        <h2>&</h2>
        <h1>{{event.b_name}}</h1>
        <div class="date-time">
            {{ event.e_date|date:"l"}} <span>{{ event.e_date|date:"d F"}},{{ event.e_date|date:"Y" }}</span>  {{ event.e_date|time:"g:i A" }}
        </div>
        <div class="location">{{event.place}}</div>
        <div class="rsvp">RSVP: 123-456-7890</div>
    </div>
</body>
</html>
