{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'inviter/style.css' %}">
</head>
<body>
    <header class="navbar">
        <div class="logo">Mr<span>&</span>Mrs</div>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#story">Story</a></li>
                <li><a href="#timeline">Timeline</a></li>
                <li><a href="#gallery">Gallery</a></li>
                <li><a href="#rsvp">RSVP</a></li>
            </ul>
        </nav>
        <a href="#rsvp" class="btn">Logout</a>
    </header>
    <div class="sidebar">
        <h2>SeekTask</h2>
        <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Tasks</a></li>
            <li><a href="#">Calendar</a></li>
            <li><a href="#">Teams</a></li>
            <li><a href="#">Messages</a></li>
            <li><a href="#">Activity</a></li>
        </ul>
    </div>
    {% block content %}
    
    {% endblock %}
</body>
</html>